<div class="car">
    <img src="..\images\vehicles\crwn-vic.jpg" alt="">
</div>

<h1 id="welcome">Welcome to  CSE Motors</h1>

<div class="car-statement">
    <h2>Camaro</h2>
    <p>3 cup holders</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, laboriosam?</p>
    <button id="cs-btn">Own Today</button>
</div>

<div id="info">
    <div class="imag-main">
        
        <div class="img-gal">
            <figure>
                <img src="..\images\upgrades\flame.jpg" alt="">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>    
        </div>
        <div class="img-gal">
            <figure>
                <img src="..\images\upgrades\bumper_sticker.jpg" alt="">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>    
        </div>
        <div class="img-gal">
            <figure>
                <img src="..\images\upgrades\hub-cap.jpg" alt="">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>    
        </div>
        <div class="img-gal">
            <figure>
                <img src="..\images\upgrades\flux-cap.png" alt="">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>    
        </div>
    </div>
    
    <div class="cnt-info">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem, ipsum. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem, ipsum. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem, ipsum. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem, ipsum. </li>
           
        </ul>
    </div>
</div>