<div class="car">
    <img src="..\images\vehicles\crwn-vic.jpg" alt="">
</div>

<h1 id="welcome">Welcome to  CSE Motors</h1>
<%- messages() %>

<div class="car-statement">
    <h2>Camaro</h2>
    <p>3 cup holders</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, laboriosam?</p>
    <button id="cs-btn">Own Today</button>
</div>

<div id="car-main-info">
    <div class="banners">
        <h2>Delorean Upgrades</h2>
        <div class="banner-im">
            <div class="image-1">
                <img src="..\images\upgrades\flux-cap.png" alt="">
                <p><a href="/">Lorem, ipsum dolor.</a></p>
            </div>
            <div class="image-1">
                <img src="..\images\upgrades\hub-cap.jpg" alt="">
                <p><a href="/">Lorem, ipsum dolor.</a></p>
            </div>
            <div class="image-1">
                <img src="..\images\upgrades\flame.jpg" alt="">
                <p><a href="/">Lorem, ipsum dolor.</a></p>
            </div>
            <div class="image-1">
                <img src="..\images\upgrades\bumper_sticker.jpg" alt="">
                <p><a href="/">Lorem, ipsum dolor.</a></p>
            </div>
        </div>
        
    </div>
    <div class="car-info">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"The DMC Delorean is a true classic—timeless design and fun to drive!"</li>
            <li>"Great handling and unique style. Always turns heads wherever I go."</li>
            <li>"Comfortable ride and surprisingly spacious for a sports car."</li>
            <li>"The gull-wing doors are a showstopper. Love the retro vibe!"</li>
            <li>"Reliable performance and easy to maintain. Highly recommend."</li>
            <li>"A piece of automotive history. Every drive feels special."</li>
            <li>"Excellent build quality and attention to detail throughout."</li>
        </ul>
        
</div>
